@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.t1 {
    color: blueviolet;
}

.tb2 {
    margin-left: 80%;
}

.th3 {
    background-color: blueviolet;
}

.cdcd {
    background-color: rgb(250, 250, 250);
}

.rtr {
    font-size: 20px;
}

.p1 {
    margin-left: 36%;
}

.pag1 {
    margin-left: 1%;
    border: 2px solid black;
    background-color: white;
}

.active {
    background-color: blueviolet;
    margin-left: 1%;
    border: 2px solid black;
}

.bt2 {
    background-color: blueviolet;
}

.uty {
    margin-left: 70%;
    padding: 1%;
}

.utf {
    margin-left: 71%;
}

.btn-btn {
    border: 2px solid black;
    margin: 1%;
}
.bgt{
    background-color: blueviolet;
 
}
.bv{
    margin-left: 75%;
    margin-bottom: 2%;
}
.t22{
    margin-left: 43%;
    color:#ffb366;
    
}
.m1{
    color:blue;
}
.t33{
    color: blue;
    margin-left: 0%;
}
.ff3{
    width: 100%;
    height: 100%;
    border: 2px solid black;
}
.t36{
 color: 
 #ffb366;
 margin-left: 0%;
}
.ty5
{
    background-color: #f0f5f5;
}
